<div class="result-wrap">
    <div class="result-content">
        <form method="post" id="myform" name="myform">
            <table class="insert-tab" width="100%">
                <tbody>
                    <tr>
                        <th><i class="require-red">*</i>name：</th>
                        <td>
                            <input class="common-text required" id="name" name="name" size="50" value="" type="text">
                        </td>
                    </tr>

                    <tr>
                        <th>number：</th>
                        <td>
                            <input class="common-text" name="number" size="50" value="" type="text">
                        </td>
                    </tr>

                    <tr>
                        <th>phone：</th>
                        <td>
                            <input class="common-text" name="phone" size="50" value="" type="text">
                        </td>
                    </tr>

                    <tr>
                        <th>address：</th>
                        <td>
                            <input class="common-text" name="address" size="50" value="" type="text">
                        </td>
                    </tr>



                    <tr>
                        <th>
                            <input class="btn btn-primary btn6 mr10" value="submit" type="submit">
                        </th>
                        <td>
                            <input class="btn btn6" onclick="history.go(-1)" value="back" type="button">
                        </td>
                    </tr>

                </tbody>
            </table>
        </form>
    </div>
</div>